.md-header-nav__title {
    margin-left: 0;
}

.md-header[data-md-state="shadow"] {
    box-shadow: 0 0 1rem 1rem #FFF;
}

[data-md-color-primary="white"] {
    --md-typeset-a-color: var(--md-accent-fg-color) !important;
}

.highlight code {
    font-family: monospace;
}

@media screen and (min-width: 76.1875em) {
    [data-md-level="0"] > ul > li:nth-child(1) {
        display: none;
    }
    [data-md-level="0"] > ul > li:nth-child(2) {
        margin-top: 0;
    }
}
