body {
    background-image: url(../logo-light.svg);
    background-repeat: no-repeat;
    background-position: calc(50vw - 50vh) -40vh;
    background-size: 200vh 200vh;
}

.md-typeset h1 {
    margin: 0;
}

.md-typeset h1 > a {
    color: var(--md-default-fg-color--light);
    font-weight: bold;
}

.md-typeset p {
    margin: 2rem 0;
}

#index-buttons {
    text-align: center;
}
#index-buttons > a {
    border: 2px solid #202830;
    background-color: transparent;
    color: #202830;
}
#index-buttons > a:first-child {
    background-color: #202830;
    color: #FFF;
}
#index-buttons > a:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: #fff;
}

#index-columns {
    display: flex;
    flex-direction: column;
}
#index-columns > * {
    margin-bottom: 2rem;
}

.highlight code {
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.1) !important;
    background-color: #FFF;
}

@media screen and (min-width: 50em) {
    .md-header {
        background: unset;
        box-shadow: unset !important;
    }

    #index-buttons {
        text-align: left;
    }

    #index-columns {
        flex-direction: row;
        margin: 0 -1rem;
    }
    #index-columns > * {
        flex: 1 1 0;
        padding: 0 1rem;
    }
}
